body {
  background-image: url(bg-pattern-bottom.svg);
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
}

.card {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.backg1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.b1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card2 {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  background-color: white;
  width: 22rem;
  height: 14rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.vic {
  position: relative;
}

.picf {
  border: solid 4px white;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  text-align: center;
}

.list ul {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.5rem;
  
}
li {
  display: flex;
  list-style: none;
  align-items: center; 
}

.list2 .fuap2{
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(227, 10%, 46%);
  gap: 5rem;
  bottom: 24%;
 
}


.fuap{
  position: relative;
  
  left: 4.8%;
  transform: translate(-50%, -50%);
}  